@use '@vuse-ui/themes/src/mixins/mixins' as *;

@include b(notification) {
  border-radius: 0.75rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  opacity: 1;

  &-info {
    background-color: rgb(239, 243, 254);
  }
  &-positive {
    background-color: rgb(230, 242, 237);
  }
  &-warning {
    background-color: rgb(255, 250, 240);
  }
  &-negative {
    background-color: rgb(255, 239, 237);
  }
}
