@use '@vuse-ui/themes/src/mixins/mixins' as *;

@include b(link) {
  color: black;
  text-underline-position: under;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 0% 100%, 100% 100%;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  font-family: system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-weight: 500;
  &:hover {
    color: rgb(84, 84, 84);
    background-size: 100% 100%, 100% 100%;
  }
  &-underLine {
    background-image: linear-gradient(transparent calc(100% - 1px), rgb(84, 84, 84) 1px),
      linear-gradient(transparent calc(100% - 1px), rgb(0, 0, 0) 1px);
  }
  &-animateUnderline {
    transition-duration: 500ms;
  }
}
