@use '@vuse-ui/themes/src/mixins/mixins' as *;

@include b(table) {
  &-container {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
  }
  table {
    border-spacing: 0;
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: collapse;
    margin: 0;
    .sticky {
      position: sticky;
      z-index: 2;
    }
    td {
      background-color: #ffffff;
    }
  }

  table thead th,
  &-footer,
  table tbody tr:hover td {
    background-color: #fafafa;
  }

  table th,
  table td {
    border-bottom: 1px solid #f0f0f0;
  }
  table tbody tr:last-child td {
    border-bottom: none;
  }
  table thead tr th,
  table tbody tr td,
  &-header,
  &-footer {
    padding: 16px;
  }

  table thead tr th {
    color: #000000d9;
    font-weight: 500;
  }

  &-bordered {
    table {
      border: 1px solid #ededed;
    }
    // .v-table-thead {
    //   thead tr {
    //     border-bottom: none;
    //   }
    // }
    .v-table-body {
      table {
        border-top: none;
        border-bottom: none;
      }
      border-bottom: 1px solid #ededed;
    }
    table th,
    table td {
      border-right: 1px solid #ededed;
    }
  }
  &-bordered > &-header,
  &-bordered > &-footer {
    border: 1px solid #ededed;
  }
  &-bordered > &-header {
    border-bottom: none;
  }
  &-bordered > &-footer {
    border-top: none;
  }
  &-bordered.v-table-fixed-column {
    .v-table-container {
      border-left: 1px solid #f0f0f0;
      border-right: 1px solid #f0f0f0;
    }
  }
  &-fixed-header {
    table {
      table-layout: fixed;
    }
    .v-table-thead {
      overflow: hidden;
      th:nth-last-child(2) {
        border-right: none;
      }
    }
    .v-table-body {
      overflow-y: auto;
    }
  }
  // &-fixed-column {
  //   .v-table-container {
  //     border-left: 1px solid #f0f0f0;
  //     border-right: 1px solid #f0f0f0;
  //   }
  // }
}
