@use '@vuse-ui/themes/src/mixins/mixins' as *;

$sizes: (
  mini: 28px,
  compact: 36px,
  default: 48px,
  large: 56px,
);

$font-sizes: (
  mini: 12px,
  compact: 14px,
  default: 16px,
  large: 18px,
);

$paddings: (
  mini: 6px,
  compact: 10px,
  default: 14px,
  large: 16px,
);

@include b(button) {
  display: inline-block;
  color: white;
  background-color: black;
  border: 0;
  cursor: pointer;
  line-height: initial;
  &-primary {
    background-color: black;

    &:hover {
      background-color: rgb(51, 51, 51);
    }
  }
  &-secondary {
    color: black;
    background-color: rgb(238, 238, 238);

    &:hover {
      background-color: rgb(226, 226, 226);
    }
  }
  &-tertiary {
    color: black;
    background-color: transparent;

    &:hover {
      background-color: rgb(246, 246, 246);
    }
  }
  & > div[name='slot'] {
    overflow-wrap: normal;
  }

  &-loading {
    & > span {
      display: block;
      height: 16px;
      width: 16px;
      border: 2px solid white;
      border-radius: 50%;
      box-sizing: border-box;
      border-left-color: rgb(39, 110, 241);
      animation-name: loading;
      animation-duration: 0.7s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      margin: auto;
    }
    & > div[name='slot'] {
      opacity: 0;
      display: flex;
      height: 0px;
    }
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @each $size in map-keys($sizes) {
    $height: map-get($sizes, $size);

    &-#{$size} {
      height: $height;
      font-size: map-get($font-sizes, $size);
      border-radius: 8px;
      padding: map-get($paddings, $size);
      @if $size == mini {
        border-radius: 4px;
      }
    }

    // TODO: 好像很丑陋，但是实现了，回头要更优雅地实现
    &-#{$size}-pill {
      border-radius: $height * 0.5;
    }
    &-#{$size}-round {
      border-radius: 50%;
    }
    &-#{$size}-circle {
      max-width: $height;
      border-radius: $height * 0.5;
    }
    &-#{$size}-square {
      min-width: $height;
      max-width: $height;
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: rgb(175, 175, 175);
    background-color: rgb(246, 246, 246);
  }
}
