@use '@vuse-ui/themes/src/mixins/mixins' as *;

@include b(button) {
  display: inline-block;
  background-color: black;
  width: auto;
  border: 0;

  &-primary {
    color: white;
    background-color: black;
  }
  &-secondary {
    background-color: rgb(238, 238, 238);
  }
  &-tertiary {
    background-color: transparent;
  }

  &-mini {
    border-radius: 4px;
    height: 28px;
  }
  &-compact {
    border-radius: 8px;
    height: 36px;
  }
  &-default {
    border-radius: 8px;
    height: 48px;
  }
  &-large {
    border-radius: 8px;
    height: 56px;
  }

  &-pill {
    border-radius: 10px;
  }
}
